<form [formGroup]="contactForm" (ngSubmit)="submitForm()" class="contact-form">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input type="text" matInput formControlName="name">
    <mat-error *ngIf="contactForm.controls['name'].hasError('required')">required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Phone number</mat-label>
    <input type="text" matInput formControlName="phoneNumber" pattern="[0-9]{6,14}">
    <mat-error *ngIf="contactForm.controls['phoneNumber'].hasError('required')">required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" [hideRequiredMarker]="true">
    <mat-label>Organization</mat-label>
    <input type="text" matInput formControlName="organization">
  </mat-form-field>

  <mat-form-field appearance="outline" [hideRequiredMarker]="true">
    <mat-label>Email</mat-label>
    <input type="text" matInput formControlName="email">
  </mat-form-field>

  <div [ngClass]="{'next-button': true, 'disabled': !contactForm.valid}">
    <button mat-button>
      <ng-container *ngIf="preselectedContact; else addText">
        Edit
      </ng-container>
      <ng-template #addText>
        Add
      </ng-template>
    </button>
  </div>
</form>
<div class="result" *ngIf="result">
  <div class="success" *ngIf="result.success">Success!</div>
  <div class="error" *ngIf="result.error">{{ result.error }}</div>
</div>